/* Desktop */
@media only screen and (min-width: 1200px) {
  #PopUpBox {
    width: 360px;
    height: 360px;
    top: 10%;
    left: 50%;
    margin-left: -200px;
    margin-top: 20px;
  }
}

/* Mobile */
@media only screen and (max-width: 1200px) {
  #PopUpBox {
    width:80%;
    top: 5%;
    left: 50%;
    margin-left: -40%;
    margin-top: 5px;
  }
}

#close {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 30px;
  height: 30px;
  opacity: 0.3;
  
}
#close:hover {
  opacity: 1;
  cursor: pointer;
}

#close:active {
  cursor: auto;
}

#close:before, #close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: red;
}
#close:before {
  transform: rotate(45deg);
}
#close:after {
  transform: rotate(-45deg);
}

#DontShowAgainButton {
  background-color:#a8a8a8;
  -moz-border-radius:23px;
  -webkit-border-radius:23px;
  border-radius:23px;
  border:2px solid #696969;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:14px;
  font-weight:bold;
  padding:12px 8px;
  text-decoration:none;
  margin-top:20px;
  margin-bottom: 10px;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
  transition: transform 0.2s;
  box-shadow: 2px 4px 6px #888888;
}

#DontShowAgainButton:hover {
  background-color:#757575;
  transform: scale(1.1);
}

#DontShowAgainButton:active {
  transform: scale(1);
}