body {
        margin: 0; 
        padding: 0;
        text-align:center;
        background-color: #d8d8d8;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
    
.TopLine {
        margin: 0 auto;
        border-bottom: 2px #b1b6bc solid;
        background-color: #cbd0d6;
        margin-top: 0;
        
}

.TopLine > h1 {
        margin-top: 0;
}
footer {
        height: 180px;
        width: 100%;
        bottom: 0px;
        margin-top: 20px;
        border-top: 2px #b1b6bc solid;
        background-color: #cbd0d6;
}

.Result {
        background-color:rgba(96, 193, 181, 0.6);
        border: 2px #52a59b solid;
        flex-wrap: nowrap;
        margin-left: auto;
        width: 900px;
        border-radius: 10px;
        margin-right:-100px;
}

.tableCoin {
        color: white;
        font-size: 32px;
}

.time {
        color: white;
        font-size: 22px;
        
}
th, td {
        width:1000px;
}
.Result th {
        padding-left: 22px;
        padding-right: 22px;

}

.siaInfo {
        font-size: 10px;
}

.outer {
        display: flex;
}

.container {
        max-width: 1000px;
        margin: auto;
        margin-top: 30px;
}

.calcNumbers {
        font-size: 20px
}


.infoImg {
        width: 14px;
        margin-bottom: 8px;
        margin-left: -5px;
}

.infoImg2 {
        width: 11px;
        margin-bottom: 5px;
            margin-left: -3px;
}

.coinLogo {
        width: 30px;
        margin-bottom: -3px;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    font-size: 20px;
    background-color: rgba(70, 140, 131, 0.9);
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    top: -115px;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.tooltip2 {
    position: relative;
    display: inline-block;
}

.tooltip2 .tooltiptext2 {
    visibility: hidden;
    width: 120px;
    font-size: 20px;
    background-color: rgba(185, 185, 185, 0.9);
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    top: -115px;
    z-index: 1;
}

.tooltip2:hover .tooltiptext2 {
    visibility: visible;
}

a {
        text-decoration: none;
        color:#00A0C6;
}
.apiLogo {
        width: 35px;
}

#API {
        display: flex;
}
#address:hover {
        cursor: pointer
}
#donFlex {
        display: flex;
        height: 20px;
}

#donation {
        margin-left: 980px;
        margin-top:-140px;
}

#donation h2 {
        margin: 0px;
}

.classicLogo {
        width: 18px;
        margin-bottom: -3px;
}

.preset {
        background-color:rgba(185, 185, 185, 0.6);
        border: 2px #7f7f7f solid;
        height: 240px;
        width:280px;
        border-radius: 10px;
        margin-top: 120px;
        margin-left: -50px;
}

.preset tr td input {
        width:23px;
        background-color:rgba(185, 185, 185, 0);
        border-bottom-color:rgba(185, 185, 185, 0);
        background-color: transparent;
        border: 0px solid;
        color: black;
}

.preset tr td, .preset tr th{
        width:0px;
}

.presetWord {
        font-size: 25px;
        
}

.preset tr td {
        background-color:rgba(160, 160, 160, 0.6);
        border: 1px solid rgba(120, 120, 120, 0.8);
        border-radius: 4px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

#hashrate, #poolFee, #elecCost, #powerConsumtion{
        border: 1px solid rgba(120, 120, 120, 1);
        height: 16px;
}

#webMsg {
        margin:0px;
        height: 30px;
        color:red;
}

#hashPower {
        background-color:rgba(175, 175, 175, 0.6);
        border: 1px solid rgba(120, 120, 120, 1);
        border-bottom-right-radius: 5%;
        border-top-right-radius: 5%;
        margin-left:-6px;
        height: 20px;
}

#inputArea {
        padding: 10px;
        width: 630px;
}

.logoName {
        margin: 0px;
}

#bottomText {
        margin-left:250px;
        margin-top:-10px;
        width:400px;
        text-align: center;
}

#Obelisk {
        
        background-color: rgba(115, 132, 142, 0.4);
}