body {
                margin: 0px;
                padding: 0px;
                text-align: center;
                background-color: #cbd0d6;
                height: 100%;
                font-family: 'Roboto';
        }

        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
                -webkit-appearance: none;
                margin: 0;
        }

        .TopLine {
                margin: 0 auto;
                border-bottom: 2px #b1b6bc solid;
                background-color: #cbd0d6;
                margin-top: 0;
        }

        .TopLine>h1 {
                margin-top: 0;
        }
        
        .topFlex {
                display: flex;
                width:800px;
                margin:auto;
        }

        #Blake2bLink {
          background-color: #808387;
          border: solid 2px #6b6d70;
          border-top: 0px;
          border-radius: 0px 0px 15px 15px;
          margin-right: 20px;
          height:60px;
          display: flex;
          align-items: center;
          transform-origin: top;
          transition: transform 0.4s, filter 0.4s;
        }

        #Blake2bLink:hover {
          transform: scale(1.05);
          filter: brightness(110%);
        }

        #Blake2bLink:active {
          transform: scale(1);
          filter: brightness(100%);
        }

        #Blake2bLinkText {
          color:white;
          padding:0px 10px 0px 10px;
        }

        #GrinLink {
          background-color: #808387;
          border: solid 2px #6b6d70;
          border-top: 0px;
          border-radius: 0px 0px 15px 15px;
          margin-right: 20px;
          height:60px;
          display: flex;
          align-items: center;
          transform-origin: top;
          transition: transform 0.4s, filter 0.4s;
        }

        #GrinLink:hover {
          transform: scale(1.05);
          filter: brightness(110%);
        }

        #GrinLink:active {
          transform: scale(1);
          filter: brightness(100%);
        }

        #GrinLinkText {
          color:white;
          padding:0px 10px 0px 10px;
        }

        #PoCLink {
          background-color: #bbbfc4;
          border: solid 2px #a7abb0;
          border-top: 0px;
          border-radius: 0px 0px 15px 15px;
          margin-right: 20px;
          height:60px;
          display: flex;
          align-items: center;
          transform: scale(0.9);
          transform-origin: top;
          transition: transform 0.4s, filter 0.4s;
        }

        #PoCLink:hover {
          transform: scale(1);
        }


        #PoCLinkText {
          color:white;
          padding:0px 10px 0px 10px;
        }
        
        footer {
                width: 100%;
                bottom: 0px;
                border-top: 2px #b1b6bc solid;
                background-color: #cbd0d6;
                display: flex;
                justify-content: space-between;
        }

        .main {
                background-color: #d8d8d8;
        }

        #Result {
                background-color: rgb(104, 122, 153, 0.6);
                border: 2px rgb(112, 132, 165) solid;
                flex-wrap: nowrap;
                border-top:0px;
                width: 500px;
                border-radius: 0px 0px 10px 10px;
        }

        #tableCoin {
                color: white;
                font-size: 25px;
                text-align: left;
        }

        .time {
                color: white;
                font-size: 22px;

        }
        
        #totalResult {
                display: flex;
                flex-direction:column;
        }
        
        #Result th {
                padding-left: 18px;
                padding-right: 18px;
        }
        
        .smallName:nth-child(1) {
                padding-right:0px;
                padding-left: 0px;
                text-align: right;
                width: 44px;
                font-weight: bolder;
        }
        
        #noPad2:nth-child(2) {
                padding-right:0px;
                padding-left: 0px;
                text-align: right;
        }

        #HardwareCostDiv {
          margin-bottom:26px;
          display: flex;
          flex-direction: row;
          width:400px;
          margin:auto;
        }
        
        #PowerResult {
                background-color: rgba(193, 96, 96, 0.6);
                border: 2px #a55252 solid;
                flex-wrap: nowrap;
                margin: auto;
                border-radius: 10px 10px 0px 0px;
                border-bottom:0px;
                height:25px;
                width: 500px;
        }
        
        #PowerResult th {
                padding-left: 2px;
                padding-right: 2px;
                font-size: 17px;
        }
        
        #PowerResult table {
                width:100%;
        }
        
        .powerNumbers {
                font-size: 15px;
        }

        .powerNumbers td {
          width:80px;
        }
        
        .siaInfo {
                font-size: 10px;
        }

        .outer {
                display: flex;
                justify-content:center;
                width: 1000px;
                margin: auto;
        }

        .container {
                margin: auto;
                padding-top: 30px;
                padding-bottom: 30px;
        }

        .calcNumbers {
                font-size: 20px
        }


        .infoImg {
                width: 14px;
                margin-bottom: 8px;
                margin-left: -5px;
        }

        .infoImg2 {
                width: 11px;
                margin-bottom: 5px;
                margin-left: -3px;
        }

        .coinLogo {
                width: 25px;
                margin-bottom: -3px;
        }
        
        .coinName {
                color:white;
        }
        
        .coinPoolList {
                font-size: 20px;
                color: #3c75d1;
        }

        .tooltip {
                position: relative;
                display: inline-block;
        }

        .tooltip .tooltiptext {
                visibility: hidden;
                width: 220px;
                font-size: 20px;
                background-color: rgb(76, 89, 112, 0.8);
                color: white;
                text-align: center;
                border-radius: 6px;
                padding: 5px 0;

                /* Position the tooltip */
                position: absolute;
                top: -74px;
                z-index: 1;
        }

        .tooltip:hover .tooltiptext {
                visibility: visible;
        }

        .tooltip2 {
                position: relative;
                display: inline-block;
        }

        .tooltip2 .tooltiptext2 {
                visibility: hidden;
                width: 120px;
                font-size: 18px;
                background-color: rgba(168, 168, 168, 0.9);
                color: white;
                text-align: center;
                border-radius: 6px;
                padding: 5px 0;

                /* Position the tooltip */
                position: absolute;
                top: -90px;
                z-index: 1;
        }

        .tooltip2:hover .tooltiptext2 {
                visibility: visible;
        }
        
        .tooltip3 {
                position: relative;
                display: inline-block;
        }

        .tooltip3 .tooltiptext3 {
                visibility: hidden;
                width: 220px;
                font-size: 18px;
                background-color: rgba(168, 168, 168, 0.9);
                color: white;
                text-align: center;
                border-radius: 6px;
                padding: 5px 0;

                /* Position the tooltip */
                position: absolute;
                top: -90px;
                z-index: 1;
        }

        .tooltip3:hover .tooltiptext3 {
                visibility: visible;
        }
        
        .tooltip4 {
                position: relative;
                display: inline-block;
        }

        .tooltip4 .tooltiptext4 {
                visibility: hidden;
                width: 260px;
                font-size: 18px;
                background-color: rgb(76, 89, 112, 0.8);
                color: white;
                text-align: center;
                border-radius: 6px;
                padding: 5px 0;

                /* Position the tooltip */
                position: absolute;
                top: -60px;
                z-index: 1;
        }

        .tooltip4:hover .tooltiptext4 {
                visibility: visible;
        }
        
        .tooltip5 {
                position: relative;
                display: inline-block;
        }

        .tooltip5 .tooltiptext5 {
                font-weight: bold;
                visibility: hidden;
                width: 260px;
                font-size: 18px;
                background-color: rgba(168, 168, 168, 0.9);
                color: white;
                text-align: center;
                border-radius: 6px;
                padding: 5px 0;

                /* Position the tooltip */
                position: absolute;
                top: -88px;
                left:26px;
                z-index: 1;
        }

        .tooltip5:hover .tooltiptext5 {
                visibility: visible;
        }
        
        .tooltip6 {
                position: relative;
                display: inline-block;
                bottom: 75px;
                left: 4px;
        }

        .tooltip6 .tooltiptext6 {
                visibility: hidden;
                width: 260px;
                font-size: 18px;
                background-color: rgb(76, 89, 112, 0.8);
                color: white;
                text-align: center;
                border-radius: 6px;
                padding: 5px 0;
                margin-bottom: 100px;

                /* Position the tooltip */
                position: absolute;
                top: -60px;
                z-index: 1;
        }

        .tooltip6:hover .tooltiptext6 {
                visibility: visible;
        }
        
        /* 1 */
        .popup {
          position: relative;
          display: inline-block;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
        }
        
        .popup .popuptext {
          display: none;
          width: 160px;
          background-color: #9e9e9e;
          color: #fff;
          text-align: center;
          border-radius: 6px;
          padding: 8px 0;
          position: absolute;
          z-index: 1;
          bottom: 125%;
          left: 50%;
          margin-left: -80px;
          opacity: 0;
        }
        
        .popup .popuptext::after {
          display: inline;
          content: "";
          position: absolute;
          top: 100%;
          left: 50%;
          margin-left: -5px;
          border-width: 5px;
          border-style: solid;
          border-color: #9e9e9e transparent transparent transparent;
        }
        
        .popup .show {
          display: inline;
          animation: fade 3s;
        }
        
        /* 2 */
        .popup2 {
          position: relative;
          display: inline-block;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
        }
        
        .popup2 .popuptext2 {
          display: none;
          width: 160px;
          background-color: #9e9e9e;
          color: #fff;
          text-align: center;
          border-radius: 6px;
          padding: 8px 0;
          position: absolute;
          z-index: 1;
          bottom: 125%;
          left: 50%;
          margin-left: -80px;
          opacity: 0;
        }
        
        .popup2 .popuptext2::after {
          display: inline;
          content: "";
          position: absolute;
          top: 100%;
          left: 50%;
          margin-left: -5px;
          border-width: 5px;
          border-style: solid;
          border-color: #9e9e9e transparent transparent transparent;
        }
        
        .popup2 .show {
          display: inline;
          animation: fade 3s;
        }
        
        /* 3 */
        .popup3 {
          position: relative;
          display: inline-block;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
        }
        
        .popup3 .popuptext3 {
          display: none;
          width: 160px;
          background-color: #9e9e9e;
          color: #fff;
          text-align: center;
          border-radius: 6px;
          padding: 8px 0;
          position: absolute;
          z-index: 1;
          bottom: 125%;
          left: -30%;
          margin-left: -80px;
          opacity: 0;
        }
        
        .popup3 .popuptext3::after {
          display: inline;
          content: "";
          position: absolute;
          top: 100%;
          left: 75%;
          margin-left: -5px;
          border-width: 5px;
          border-style: solid;
          border-color: #9e9e9e transparent transparent transparent;
        }
        
        .popup3 .show {
          animation: fade 3s;
          display: inline;
        }
        
        /* 4 */
        .popup4 {
          position: relative;
          display: inline-block;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
        }
        
        .popup4 .popuptext4 {
          display: none;
          width: 160px;
          background-color: #9e9e9e;
          color: #fff;
          text-align: center;
          border-radius: 6px;
          padding: 8px 0;
          position: absolute;
          z-index: 1;
          bottom: 125%;
          left: 50%;
          margin-left: -80px;
          opacity: 0;
        }
        
        .popup4 .popuptext4::after {
          display: inline;
          content: "";
          position: absolute;
          top: 100%;
          left: 50%;
          margin-left: -5px;
          border-width: 5px;
          border-style: solid;
          border-color: #9e9e9e transparent transparent transparent;
        }
        
        .popup4 .show {
          display: inline;
          animation: fade 3s;
        }
        
        /* 5 */
        .popup5 {
          position: relative;
          display: inline-block;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
        }
        
        .popup5 .popuptext5 {
          display: none;
          width: 160px;
          background-color: #9e9e9e;
          color: #fff;
          text-align: center;
          border-radius: 6px;
          padding: 8px 0;
          position: absolute;
          z-index: 1;
          bottom: 125%;
          left: 0%;
          margin-left: -80px;
          opacity: 0;
        }
        
        .popup5 .popuptext5::after {
          display: inline;
          content: "";
          position: absolute;
          top: 100%;
          left: 60%;
          margin-left: -5px;
          border-width: 5px;
          border-style: solid;
          border-color: #9e9e9e transparent transparent transparent;
        }
        
        .popup5 .show {
          display: inline;
          animation: fade 3s;
        }
        
        #advert {
                width:200px;
                height:100px;
        }
        
        #Highlight {
                background-color: rgba(184, 188, 193, 0.9);
                width:10px;
        }
        
        #Pricing {
                color:#444444;
        }
        
        #rules {
                text-align: left;
                margin: auto;
                width: 600px;
        }
        
        a {
                text-decoration: none;
                color: #00A0C6;
        }
        .apiLogo {
                width: 35px;
        }

        #API {
                display: flex;
        }
        
        #addressBTC {
                color:#a09800;
        }
        
        #addressSIA {
                color:#00b733;
        }
        
        #addressSCP {
                color:#0042bc;
        }
        
        #addressCash2 {
                color: red;
        }
        
        #addressXSC {
                color:#6c00ba;
                
        }
        
        #address {
                color:#2d2d2d;
                width:38px;
                margin:4px;
                transition: all 0.4s ease;
        }
        
        #address:hover {
                cursor: pointer;
                filter: brightness(115%);
                transform: scale(1.4);
        }
        
        #address:active {
                transform: scale(1);
        }
        
        
        
        #donFlex {
                display: flex;
        }

        #donation {
                font-size: 14px;
                margin-right: 15px;
        }
        
        #DonationWord {
                margin-right: 10px;
                height:40px;
                margin-bottom:auto;
        }
        
        #DonationMain {
                display: flex;
                flex-direction:row;
        }

        #bottomText {
                width: 465px;
        }

        .classicLogo {
                width: 18px;
                margin-bottom: -3px;
        }
        
        .Cash2Logo {
                width: 25px;
                margin-bottom: -2px;
        }

        .preset {
                background-color: rgba(185, 185, 185, 0.6);
                border: 2px #7f7f7f solid;
                height: 320px;
                width: 240px;
                border-radius: 10px;
        }

        .preset tr input {
                width: 32px;
                border-bottom-color: rgba(185, 185, 185, 0);
                background-color: transparent;
                border: 0px solid;
                color: black;
        }

        .preset tr th {
                width: 0px;
        }

        .presetWord {
                font-size: 32px;
        }
        
        .presetData {
                font-size: 18px;
                width:38px;
        }
        
        .presetMiners {
                font-size: 22px;
        }

        .preset tr td {
                background-color: rgba(160, 160, 160, 0.6);
                border: 1px solid rgba(120, 120, 120, 0.8);
                border-radius: 4px;
        }

        input:focus,
        select:focus,
        textarea:focus,
        button:focus,
        checkbox:focus{
                outline: none;
        }

        #StorageCapacity {
                border: 1px solid rgba(120, 120, 120, 1);
                font-size: 20px;
                width:100px;
                border-radius: 5px 0px 0px 5px;
                padding-top: 4px;
                padding-bottom: 4px;
        }

        #HardwareCost {
                border: 1px solid rgba(120, 120, 120, 1);
                font-size: 20px;
                width:100px;
                border-radius: 5px;
                padding-top: 4px;
                padding-bottom: 4px;
                height: 23px;
                margin-top: auto;
                margin-bottom: auto;
        }

        #storageCapacityDiv {
          margin-left: auto;
        }

        #PoolCapacity {
          margin:auto;
        }

        #rentedBHD, #PoolCapacity, #poolFee, #elecCost, #powerConsumption {
          margin-top:auto;
          margin-bottom:auto;
          margin-left: 10px;
          border: 1px solid rgba(120, 120, 120, 1);
          font-size: 24px;
          width:80px;
          border-radius: 5px;
        }

        #rentedBHDDiv, #poolCapacityDiv, #poolOrSoloDiv, #elecCostDiv, #powerConsumptionDiv {
          display: flex;
          flex-direction: row;
          margin-left: auto;
        }

        #poolOrSoloText {
          margin:0px;
          margin-right: 10px;
        }

        #poolFeeDiv {
          display: flex;
          flex-direction: row;
          margin-left: auto;
        }

        #webMsg {
                margin: 0px;
                height: 30px;
                color: red;
        }

        #hashPower {
                background-color: rgba(175, 175, 175, 0.6);
                border: 1px solid rgba(120, 120, 120, 1);
                border-bottom-right-radius: 5px;
                border-top-right-radius: 5px;
                font-size: 18px;
                padding:5px 10px 5px 10px;
        }

        #StorageCapacityInputDiv {
          display: flex;
    flex-direction: row;
    align-items: center;
        }
        
        #logoDropdown {
                background-color: rgba(181, 184, 188, 0.8);
                border: 1px solid rgba(120, 120, 120, 0.8);
                border-radius: 2px;
                text-align: justify;
                text-align-last: center;
                font-size:25px;
                color:#008eaf;
                width:370px;
                margin-left: 10px;
                padding-right: 10px;
        }

        .HomeIMG {
          width:35px;
          -webkit-transition: transform 0.2s; /* Safari */
          transition: transform 0.2s;
        }

        .HomeIMG:hover {
          transform:scale(1.2);
        }

        .HomeIMG:active {
          transform:scale(1);
        }

        #inputArea {
                padding: 10px;
                padding-top: 0px;
                margin-right: 20px;
                width: 430px;
                display: flex;
                flex-direction: column;
        }

        .logoName {
                width:380px;
                margin:auto;
        }

        #Obelisk {
                background-color: rgba(115, 132, 142, 0.4)
        }
        
        .github {
                font-size:12px;
        }
        
        .zodiacLink {
                font-size:12px;
                color:red;
        }
        
        .smallName {
                font-size: 14px;
                padding:0px;
        }
        
        .bold {
                font-weight: 900;
                width: 86px;
        }
        
        #resultTable {
                border-collapse: collapse;
                width:100%;
        }
        
        .lineDivider {
                border-bottom: 2px solid #565656;
        }
        
        #hideBorder {
                border-bottom: 2px solid rgba(96, 193, 181, 0);
        }
        
        .diffAdd {
                display: flex;
                flex-direction:row;
                margin-left:20px;
                width: 230px;
                margin:auto;
                margin-top:24px;
        }
        
        .switch {
                position: relative;
                display: inline-block;
                width: 54px;
                height: 25px;
        }
        
        .switch input { 
          opacity: 0;
          width: 0;
          height: 0;
        }
        
        .slider {
          position: absolute;
          cursor: pointer;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: #ccc;
          -webkit-transition: .2s;
          transition: .2s;
        }
        
        .slider:before {
          position: absolute;
          content: "";
          height: 20px;
          width: 20px;
          left: 4px;
          bottom: 2.5px;
          background-color: white;
          -webkit-transition: .2s;
          transition: .2s;
        }
        
        input:checked + .slider {
          background-color: #2196F3;
        }
        
        input:focus + .slider {
          box-shadow: 0 0 1px #2196F3;
        }
        
        input:checked + .slider:before {
          -webkit-transform: translateX(26px);
          -ms-transform: translateX(26px);
          transform: translateX(26px);
        }
        
        /* Rounded sliders */
        .slider.round {
          border-radius: 34px;
        }
        
        .slider.round:before {
          border-radius: 50%;
        }
        
        /* Day/Light Theme Switch */
        
        .switch2 {
                display: inline-block;
                width: 56px;
                height: 27px;
                position: absolute;
                right: 0;
                margin-right: 10px;
                margin-top: 2px;
        }
        
        .switch2 input { 
          opacity: 0;
          width: 0;
          height: 0;
        }
        
        .slider2 {
          position: absolute;
          cursor: pointer;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: #ffffff;
          -webkit-transition: .4s;
          transition: .4s;
        }
        
        .slider2:before {
          position: absolute;
          content: "";
          height: 22px;
          width: 22px;
          left: 4px;
          bottom: 2.5px;
          background-color: white;
          -webkit-transition: .4s;
          transition: .4s;
        }
        
        input:checked + .slider2 {
          background-color: #000000;
        }
        
        input:focus + .slider2 {
          box-shadow: 0 0 1px #2196F3;
        }
        
        input:checked + .slider2:before {
          -webkit-transform: translateX(26px);
          -ms-transform: translateX(26px);
          transform: translateX(26px);
          background-color:white;
        }
        
        /* Rounded sliders */
        .slider2.round2 {
          border-radius: 34px;
          
        }
        
        .slider2.round2:before {
          border-radius: 50%;
          background-color:black;
        }
        
        /* Custom Preset Button */
          .customPresetButton {
        	background-color:#a8a8a8;
        	-moz-border-radius:23px;
        	-webkit-border-radius:23px;
        	border-radius:23px;
        	border:2px solid #696969;
        	display:inline-block;
        	cursor:pointer;
        	color:#ffffff;
        	font-family:Arial;
        	font-size:14px;
        	font-weight:bold;
        	padding:12px 8px;
        	text-decoration:none;
        	margin-top:20px;
        	-webkit-user-select: none;  /* Chrome all / Safari all */
                -moz-user-select: none;     /* Firefox all */
                -ms-user-select: none;      /* IE 10+ */
                user-select: none;          /* Likely future */
                transition: transform 0.2s;
                box-shadow: 2px 4px 6px #888888;
        }
        .customPresetButton:hover {
        	background-color:#757575;
        	transform: scale(1.1);
        }
        .customPresetButton:active {
        	transform: scale(1);
        }
        
        /* Delete Preset Button */
        
        .customPresetButton2 {
        	background-color:#a8a8a8;
        	-moz-border-radius:23px;
        	-webkit-border-radius:23px;
        	border-radius:23px;
        	border:2px solid #696969;
        	display:inline-block;
        	cursor:pointer;
        	color:#ffffff;
        	font-family:Arial;
        	font-size:11px;
        	font-weight:bold;
        	padding:10px 6px;
        	text-decoration:none;
        	margin-top:14px;
        	-webkit-user-select: none;  /* Chrome all / Safari all */
                -moz-user-select: none;     /* Firefox all */
                -ms-user-select: none;      /* IE 10+ */
                user-select: none;          /* Likely future */
                transition: transform 0.2s;
                box-shadow: 2px 4px 6px #888888;
        }
        .customPresetButton2:hover {
        	background-color:#757575;
        	transform: scale(1.1);
        }
        .customPresetButton2:active {
        	transform: scale(1);
        }

        #twitterIMG {
          width: 40px;
          height: 40px;  
        }

        #instagramIMG {
          width: 40px;
          height: 40px;
        }

        #discordIMG {
          width: 40px;
          height: 40px;
        }

        #social {
          display: flex;
          flex-direction: column;
        }

        .socialIMGMargin {
          margin:8px;
          transform: scale(1);
          transition:transform 0.2s;
        }

        .socialIMGMargin:hover {
          transform: scale(1.2);
        }

        .socialIMGMargin:active {
          transform: scale(1.1);
        }

        .currencyNaming {
          text-align: right;
        }

        .noMargin {
          margin:0px;
        }

        #ROIName {
          color:white;
          margin-bottom: 10px;
          margin-top:5px;
        }